@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
nav {
  font-size: 1.3em;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* 
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
} */

.rightMenu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.rightMenu li {
  margin: 0.5em;
}

.leftMenu ul {
  display: flex;
  justify-content: space-evenly;
}
a {
  font-size: 1.2em;
  color: #fff;
  font-weight: 550;
  text-decoration: none;
  /* font-family: "Montserrat", sans-serif; */
}

header {
  background-color: #f38181;
}

ul {
  list-style: none;
}
